## pip install pandas

In [1]:
import pandas as pd

In [2]:
pd.DataFrame([10, 20, 30])

    0
0  10
1  20
2  30

In [3]:
df = pd.DataFrame([10, 20, 30])
df

    0
0  10
1  20
2  30

In [5]:
type(df), df.dtypes

(pandas.core.frame.DataFrame,
 0    int64
 dtype: object)

In [6]:
df = pd.DataFrame( {"valori" : [10, 20, 30]})
df

   valori
0      10
1      20
2      30

In [9]:
df = pd.DataFrame( {"valori" : [10, 20, 30], "culori":["rosu", "negru", "verde"]})
df

   valori culori
0      10   rosu
1      20  negru
2      30  verde

In [10]:
df["valori"]

0    10
1    20
2    30
Name: valori, dtype: int64

In [11]:
coloana = df["valori"]
type(coloana), coloana.dtype

(pandas.core.series.Series, dtype('int64'))

In [12]:
df = pd.DataFrame( {"valori" : [10, 20, 30.9], "culori":["rosu", "negru", "verde"]})
df

   valori culori
0    10.0   rosu
1    20.0  negru
2    30.9  verde

In [ ]:
df = pd.DataFrame( {"valori" : [10, "blue", 30], "culori":["rosu", "negru", "verde"]})
df

  valori culori
0     10   rosu
1   blue  negru
2     30  verde

In [14]:
df.dtypes

valori    object
culori    object
dtype: object

In [15]:
df = pd.DataFrame( {"valori" : [10, 20, 30.9], "culori":["rosu", "negru", "verde"]})
df

   valori culori
0    10.0   rosu
1    20.0  negru
2    30.9  verde

In [16]:
df.head(2)

   valori culori
0    10.0   rosu
1    20.0  negru

In [17]:
df.tail(2)

   valori culori
1    20.0  negru
2    30.9  verde

In [18]:
df = pd.DataFrame( {"valori" : [10, 20, 30, 40, 50, 60], "culori":["rosu", "negru", "verde", "negru", "alb", "maro"]})
df

   valori culori
0      10   rosu
1      20  negru
2      30  verde
3      40  negru
4      50    alb
5      60   maro

In [21]:
df[2:4]

   valori culori
2      30  verde
3      40  negru

In [22]:
df = pd.DataFrame( {"valori" : [10, 20, 30, 40, 50, 60], "culori":["rosu", "negru", "verde", "negru", "alb", "maro"], "temperaturi":[11, 22, 33, 44, 55, 66]})
df

   valori culori  temperaturi
0      10   rosu           11
1      20  negru           22
2      30  verde           33
3      40  negru           44
4      50    alb           55
5      60   maro           66

In [28]:
df[ ["culori", "temperaturi"] ]

  culori  temperaturi
0   rosu           11
1  negru           22
2  verde           33
3  negru           44
4    alb           55
5   maro           66

In [29]:
df [  df["valori"] > 40 ]

   valori culori  temperaturi
4      50    alb           55
5      60   maro           66

In [30]:
df [  df["valori"] > 40 ]

   valori culori  temperaturi
4      50    alb           55
5      60   maro           66

In [31]:
df

   valori culori  temperaturi
0      10   rosu           11
1      20  negru           22
2      30  verde           33
3      40  negru           44
4      50    alb           55
5      60   maro           66

In [32]:
df["culori"].max()

'verde'

In [33]:
df["temperaturi"].max()

np.int64(66)

In [34]:
df["temperaturi"].argmax()

np.int64(5)

In [35]:
df.to_csv("date.csv")

In [36]:
df.to_json("date.json")

In [37]:
df.to_excel("date.xlsx")