In [1]:
import pandas as pd

In [3]:
pd.read_csv("date.csv", index_col=0)

   valori culori  temperaturi
0      10   rosu           11
1      20  negru           22
2      30  verde           33
3      40  negru           44
4      50    alb           55
5      60   maro           66